[submodule "externals/cuStinger"]
	path = externals/cuStinger
	url = ../cuStinger.git
[submodule "externals/cub"]
	path = externals/cub
	url = https://github.com/NVlabs/cub.git
[submodule "externals/moderngpu"]
	path = externals/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "externals/dynograph_util"]
	path = externals/dynograph_util
	url = git@github.com:DynoGraph/dynograph_util.git
